.btn {
  background-color: #9933ff;
  color: white;
  margin-top: 0px;
}

.header {
  font-family: 'Quicksand', sans-serif;
}

.form-container {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.form-input {
  width: 50%;
}

#link {
  color: #9933ff;
}