#container {
  background-color: #9933ff;
}

#card {
  background-color: #9933ff;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
}

#title {
  color: white;
}

#rating {
  float: right;
  color: white;
}

p {
  margin: 3px 3px;
}

#favoriteBtn {
  margin-top: 10px;
  float: right;
  background-color: gold;
  color: white;
  border: 1px, solid, gold;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#favoritedBtn {
  margin-top: 10px;
  float: right;
  background-color: grey;
  color: white;
  border: 1px, solid, grey;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#tags {
  margin-top: 3px;
  margin-bottom: 3px;
}

#year {
  margin-top: 3px;
  margin-bottom: 3px;
}

@media screen and (min-width: 600px) {
  #container {
    padding-left: 8%;
    padding-right: 8%;
  }
  #favoriteBtn {
    margin-top: 40px;
    margin-right: -110px;
  }
  #favoritedBtn {
    margin-top: 40px;
    margin-right: -110px;
  }
}

@media screen and (min-width: 800px) {
  #container {
    padding-left: 13%;
    padding-right: 13%;
  }
}

@media screen and (min-width: 1025px) {
  #container {
    padding-left: 20%;
    padding-right: 20%;
  }
}
