p{
    font-family: 'Quicksand', sans-serif;
}

#profile-banner {
    background: rgb(158,66,255);
    background: linear-gradient(90deg, rgba(158,66,255,1) 0%, rgba(153,55,255,1) 34%, rgba(131,48,217,1) 71%, rgba(119,46,195,1) 100%);
  }
  
.user-greet{
    color: white;
    text-shadow: 2px 2px rgb(86, 86, 86);
}